* {
    font-family: "Poppins", sans-serif;
}
:root {
    --primary: #00ffee;
    --bg-color: #080808;
    --second-bg-color: #131313;
}
body {
    color: white;
    background-color: var(--bg-color);
}

/* utility */
.text-primary {
    color: var(--primary) !important;
}
.text-brand{
    color: var(--primary);
    text-shadow: 0 0 25px var(--primary);
}

/* button */
.btn-outline-primary {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
    transition: 0.3s ease;
}
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary:focus {
    color: black !important;
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    box-shadow: 0 0 25px var(--primary);
}

/* navbar */
.navbar-toggler {
    border-color: #00ffee !important;
}

.navbar-brand {
    color: white !important;
}
.navbar a{
    color: white;
    margin-left: 0.5rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.nav-link:hover, 
.nav-link.active {
    color: var(--primary) !important;
    border-bottom: 3px solid var(--primary) !important;
}

/* timeline */
.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--primary);
    left: 50%;
}
.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child {
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
    text-align: left;
}
.timeline-dot {
    position: absolute;
    width: 21px;
    height: 21px;
    background-color: var(--primary);
    box-shadow: 0 0 25px var(--primary),
                0 0 50px var(--primary);
    border-radius: 50%;
    left: calc(50% - 8px);
    top: 10px;
}
.timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}
.timeline-content {
    border: 3px solid var(--primary);
    padding: 30px 50px;
    border-radius: 4rem;
    background-color: var(--bg-color);
    box-shadow: 0 0 10px var(--primary);
    cursor: pointer;
    transition: 0.3s ease-in-out;   
}
.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--primary);
}
.timeline-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 22px;
}
.timeline-content p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

/* others */
.heading {
    font-size: 2rem;
    text-align: center;
    margin: 10rem 0;
}